
        Dear {{name}},
            I hope this email finds you well.
            This is a friendly reminder to join our upcoming information session about the Nobel Internship, an incredible international opportunity for aspiring professionals from around the world.
            Info Session Details:
            Date: {{date}}
            Time: 7pm - 8pm
            Platform: Google Meet
            Join Link: https://meet.google.com/mrb-quis-qxw
            During the session, we will cover:
            •	An overview of the Nobel Internship Program
            •	Eligibility criteria and application process
            •	Benefits of the internship
            •	Experiences from past interns
            •	Q&A session to address all your queries
            This is a fantastic chance to learn more about how the Nobel Internship can help you gain valuable international experience and make a significant impact in your field.
            Don't miss it, Join it right away.
            We look forward to seeing you there!
            Best regards,
            Sangam Adhikari
            Co-Lead
            Nobel Navigator
